Flask==3.0.2
Flask-Cors==4.0.0
Flask-PyMongo==2.3.0
pymongo==4.7.0
img2vec-pytorch==1.0.1
Pillow==10.3.0
scikit-learn==1.5.0
numpy==1.26.4
requests==2.31.0
python-dotenv==1.0.0
base64
Werkzeug==3.0.1
